<h2><%= l('toggl.toggl_entry') %></h2>

<%= labelled_form_for @toggl_entry, :url => toggl_entry_path(@toggl_entry) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= submit_tag l(:button_save) %>
<% end %>

