
<p>
<%= t('toggl.toggl_invalid_user_toggl_entry_info') %>
</p>
<hr>

<% @errors.each do |entry| %>

  <p>
    <%= entry[:toggl_entry].present? ? entry[:toggl_entry]['description'] : I18n.t('toggl.toggl_could_not_fetch') %>
  </p>
  <hr>

  <br>
  <br>

<% end %>

